<main class="signin_body">
    <form action="/signin" method="post">
       <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <% if flash[:error]%>
            <p class="flash-error">
                <%= flash[:error]%>
            </p>
            <%end%>
        <p class="signin_text">HELLO</p>
        <p class="signin_text_again">AGAIN</p>
        <p class="signin_text2">Don't have an account?</p>
        <a href="/signup" class="signin_signup">Sign up</a>
        <input placeholder="Mail ID" type="email" class="signin_email" id="email" name="user[email]" autofocus><br>
        <input placeholder="Password" type="password" class="signin_password" id="password" name="user[password]" autofocus><br>
        <button type="submit" class="signin_button">Sign in</button>
    </form>
</main>
