<main class="index_body">
    <h1 class="index_welcome">WELCOME TO</h1>
    <h2 class="index_pola">POLA!</h2>
    <p class="index_text"> Pola enables you to choose the destination, select your preferred seat, and book your bus ticket with just a few clicks. Avail exciting Pola offers and experience an unforgettable journey!</p>
    <a href="/home"><button class="index_start_button">Get Started</button></a>
</main>
