<div class="list_bus_div">



  <div class="list_bus_single">

    <p class="list_bus_name">
      G Travels
    </p>

    <div class="list_bus_type_div">
      <p class="list_bus_type">
          AC
      </p>

      <p class="list_bus_hifn1">-</p>

      <p class="list_bus_seat_type">
          Sleeper
      </p>

      <p class="list_bus_hifn2">-</p>

      <p class="list_bus_seats">
       28 Seats
      </p>
    </div>

    <div class="list_bus_review">
        5 <i class="fa-solid fa-star"></i>

    </div>



    <div class="list_bus_left">
    <p class="list_bus_dept_text">
      Departure
    </p>

    <p class="list_bus_depature_time">
     10:00 AM
    </p>

    <p class="list_bus_from_place">
     Chennai
    </p>
    </div>

    <p class="list_bus_line1">
    </p>

    <div class="list_bus_right">
    <p class="list_bus_arr_text">
      Arrival
    </p>

    <p class="list_bus_arrival_time">
      5:15 PM
    </p>

    <p class="list_bus_to_place">
     Trichy
    </p>
    </div>

     <p class="l_bus_fare">
    INR 400
    </p>

    <button class="l_bus_bkticket">
     Book Tickets
    </button>

</div>

</div>
