.l_bus_fare {
    background-color: #F1E1D5;
    color: #37075D;
    font-size: 130%;
    font-weight: 800;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
    margin-left: 1328px;
    position: absolute;
}

.l_bus_bkticket {
    background-color: #37075D;
    color: white;
    font-size: 130%;
    font-weight: 800;
    width: fit-content;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-left: 1480px;
    border-bottom-right-radius: 10px;
    border: none;
    cursor: pointer;
    position: relative;
}

.main-popup .popup {
    position: absolute;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 1, 0.411);
    z-index: 1;
    display: none;
}

.main-popup .overlay {
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 1750px;
    height: 720px;
    background: white;
    z-index: 2;
}

.main-popup.active .popup {
    display: block;
}

.main-popup.active .overlay {
    transition: all 0.2s ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.lbus_close {
    cursor: pointer;
    position: absolute;
    top: 2.9%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
}

.lbus_close:hover {
    background: #bbb;
}

.overlay_button_div {
    position: absolute;
    bottom: 0;
    right: 0;
}

.main-popup2 .popup2 {
    position: absolute;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 1, 0.51);
    z-index: 1;
    display: none;
}

.main-popup2 .overlay2 {
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 900px;
    height: 600px;
    background: white;
    z-index: 2;
}

.main-popup2.show .popup2 {
    display: block;
}

.main-popup2.show .overlay2 {
    transition: all 0.2s ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}