.list_bus_navbar {
    overflow: hidden;
    background-color: #FFC18E;
    width: 1848px;
    margin-top: -8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: -8px;
}

li {
    float: right;
    list-style: none;
}

li .list_bus_nav_links {
    width: 130px;
    display: block;
    color: #37075D;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    /* margin-right: 20px; */
}

.list_bus_logout {
    background-color: #37075D;
    color: #FFC18E;
    width: 80px;
    height: 50px;
    border: none;
    cursor: pointer;
}

li .list_bus_nav_links:hover {
    background-color: #EAAF87;
}

li .list_bus_nav_links_bookings:hover {
    background-color: #EAAF87;
}

li .list_bus_nav_links_bookings {
    width: 130px;
    display: block;
    color: #37075D;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

#list_bus_active {
    background-color: #37075D;
    color: #eaaf87;
    font-weight: 500;
}

#list_bus_profile_icon_2 {
    cursor: pointer;
    float: right;
    color: #37075D;
    fill: #37075D;
    margin-right: 5px;
    background-color: #FFC18E;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 3px;
    border: none;
    width: 160px;
}

.list_bus_pola_profile_2 {
    width: 38px;
    height: 38px;
}

.list_bus_pola_profile_2:hover {
    background-color: black;
}

.list_bus_add_bus_btn {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #37075D;
    color: white;
    width: fit-content;
    margin-left: 60px;
    margin-top: 70px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 775px;
    padding-right: 775px;
    font-size: 160%;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.list_bus_add_bus_btn:hover {
    background-color: #531685;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 775px;
    padding-right: 775px;
    border: none;
}

.list_bus_single {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #e9cdb73c;
    width: fit-content;
    margin-left: 60px;
    margin-top: 70px;
    color: #37075D;
    border-radius: 10px;
}

.list_bus_name {
    font-size: 200%;
    color: #37075D;
    font-weight: 900;
    padding-top: 50px;
    margin-left: 50px;
    letter-spacing: 0.1mm;
}

.list_bus_type_div {
    /* border: #37075D 2px solid; */
    width: fit-content;
    height: fit-content;
    display: flex;
    padding-left: 40px;
    margin-top: -40px;
}

.list_bus_type_div p {
    margin-right: 10px;
    margin-left: 10px;
}

.list_bus_type {
    font-size: 120%;
    color: #37075D;
    font-weight: 400;
    letter-spacing: 0.1ex;
    width: fit-content;
    /* border: #37075D 2px solid; */
}

.list_bus_hifn1 {
    width: fit-content;
    margin-top: 20px;
}

.list_bus_seat_type {
    font-size: 130%;
    color: #37075D;
    font-weight: 400;
    letter-spacing: 0.1ex;
    width: fit-content;
    margin-top: 19px;
}

.list_bus_hifn2 {
    width: fit-content;
    margin-top: 20px;
}

.list_bus_seats {
    font-size: 130%;
    color: #37075D;
    font-weight: 400;
    letter-spacing: 0.1ex;
    width: fit-content;
    margin-top: 19px;
}

.list_bus_review {
    background-color: rgb(123, 186, 28);
    color: white;
    font-size: x-large;
    font-weight: bolder;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    position: absolute;
    margin-left: 1551px;
    margin-top: -85px;
}

.list_bus_left {
    /* border: 2px solid #37075D; */
    width: fit-content;
    margin-left: 50px;
    margin-top: 30px;
}

.list_bus_dept_text {
    font-size: 130%;
    color: #37075D;
    font-weight: 400;
    letter-spacing: 0.1ex;
    width: fit-content;
    opacity: 0.4;
}

.list_bus_depature_time {
    font-size: 200%;
    color: #37075D;
    font-weight: 900;
    width: fit-content;
    margin-top: -5px;
}

.list_bus_from_place {
    font-size: 130%;
    color: #37075D;
    font-weight: 400;
    margin-top: -10px;
}

.list_bus_line1 {
    border-bottom-style: dotted;
    width: 1150px;
    margin-top: -90px;
    position: absolute;
    margin-left: 270px;
}

.list_bus_right {
    /* border: 2px solid #37075D; */
    width: fit-content;
    margin-left: 1470px;
    margin-top: -145px;
    text-align: right;
}

.list_bus_arr_text {
    font-size: 130%;
    color: #37075D;
    font-weight: 400;
    letter-spacing: 0.1ex;
    width: fit-content;
    opacity: 0.4;
    margin-left: 92px;
    /* border: 2px solid #37075D; */
}

.list_bus_arrival_time {
    font-size: 200%;
    color: #37075D;
    font-weight: 900;
    width: fit-content;
    margin-top: -5px;
}

.list_bus_to_place {
    font-size: 130%;
    color: #37075D;
    font-weight: 400;
    margin-top: -10px;
}

.list_bus_delete_bus {
    background-color: #F55858;
    color: white;
    font-size: 130%;
    font-weight: 800;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
    border-bottom-left-radius: 10px;
}

.list_bus_delete_link {
    text-decoration: none;
}

.list_bus_edit_bus {
    background-color: #e8bd2e;
    color: white;
    font-size: 130%;
    font-weight: 800;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
    margin-left: 100px;
    margin-top: -65.9px;
    /* border: #37075D 2px solid; */
}

.list_bus_edit_link {
    text-decoration: none;
    width: 20px;
    /* border: #13a369 2px solid; */
}

.list_bus_fare {
    background-color: #37075D;
    color: white;
    font-size: 130%;
    font-weight: 800;
    width: fit-content;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -65px;
    margin-left: 1527px;
    border-bottom-right-radius: 10px;
}