.pay_whole_div {
    border: black 2px solid;
    background-color: #F1E1D5;
}

.lbus_pay_text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 160%;
    font-weight: 900;
    color: #37075D;
    margin-top: 30px;
    margin-left: 60px;
}

.lbus_lbus_total_fare {
    color: #37075D;
    margin-left: 60px;
    font-size: 130%;
}

.lbus_card_number {
    margin-left: 60px;
    margin-top: 10px;
    margin-right: 60px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #37075D;
    width: 500px;
    margin-bottom: 50px;
    background-color: #F1E1D5;
    color: #37075D;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
    font-weight: 500;
}

.lbus_card_holder_name {
    margin-left: 60px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #37075D;
    width: 500px;
    margin-bottom: 50px;
    background-color: #F1E1D5;
    color: #37075D;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
    font-weight: 500;
}

.lbus_card_month {
    margin-left: 60px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #37075D;
    width: 33px;
    margin-bottom: 50px;
    background-color: #F1E1D5;
    color: #37075D;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
    font-weight: 500;
}

.lbus_slash {
    color: #37075D;
}

.lbus_card_year {
    /* margin-left: 40px; */
    border: 0;
    outline: 0;
    border-bottom: 2px solid #37075D;
    width: 50px;
    margin-bottom: 50px;
    background-color: #F1E1D5;
    color: #37075D;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
    font-weight: 500;
}

.lbus_card_cvv {
    margin-left: 345px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #37075D;
    width: 40px;
    background-color: #F1E1D5;
    color: #37075D;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
    font-weight: 500;
}

.lbus_confirm_btn {
    font-size: 140%;
    font-weight: 600;
    background-color: #37075D;
    color: #F1E1D5;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 215px;
    padding-right: 215px;
    margin-left: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}