<main class="addbus_body">


    <form action="/buses" method="post">
        <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token %>">
        <% if flash[:error]%>
            <p class="addbus_flash_error">
                <%= flash[:error]%>
            </p>
            <%end%>

                <p class="addbus_text">ADD</p>
                <p class="addbus_text_bus">BUS</p>

                <input placeholder="Bus number" type="text" class="addbus_bus_number" id="bus_number" name="bus_number" required><br>
                <input placeholder="Travel's name" type="text" class="addbus_travel_name" id="travel_name" name="travel_name" required><br>
                <input placeholder="Seats" type="number" class="addbus_seats" name="number_of_seats" required>
                <input placeholder="Shift" type="number" class="addbus_shift"  name="shift" required>
                <input placeholder="Bus Fare" type="number" class="addbus_fare"  name="fare" required><br>
                <%= select_tag "bus_type", options_for_select([ ["Non - AC",0], ["AC",1] ]),class:"addbus_bus_type", :required => true %>
                <%= select_tag "seat_type", options_for_select([ ["Seater",0], ["Sleeper",1] ]),class:"addbus_seat_type", :required => true %><br>
                <input placeholder="Departure point" type="text" class="addbus_dep_point" id="from_location" name="from_location" required>
                <input placeholder="Arrival point" type="text" class="addbus_arr_point" id="to_location" name="to_location"required><br>
                <input placeholder="Departure time" type="time" class="addbus_dep_time" id="departure_time" name="departure_time" required>
                <input placeholder="Arrival time" type="time" class="addbus_arr_point" name="arrival_time" onmouseover="myFunction()" required><br>
                <input placeholder="Conductor's Name" type="text" class="addbus_travel_name" name="conductor_name" required><br>
                <input placeholder="Conductor's Phone Number" type="number" class="addbus_travel_name" name="conductor_phone_number" required><br>

                <button type="submit" class="addbus_add_button">Submit</button>
    </form>
</main>
<script>
function myFunction() {
  document.getElementById("departure_time").placeholder = "Type name here..";
}
</script>
